.dataList {
    list-style: none;
}
table {
    background-color: #343434;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    margin: 1rem 0 2rem;
    padding: 0.5rem;
}
tr {
    text-align: center;
}
td {
   width: 100px;
   height: 20px;
}
input, textarea {
    background-color: #424242;
    color: aliceblue;
}
button {
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
    padding: 0.2rem 0.5rem 0.2rem 0.5rem ;
    background-color: #1b1b1b;
    border-radius: 0.25rem;
    border: 0;
    color: #cdcdcd;
    cursor: pointer;

    &:hover{
        background-color: #858585;
    }
    &:disabled {
        background-color: #ec3f3f;
        color: #343434;
        cursor: progress;
    }

}
.scanResult {
    width: 30rem;
    height: 15rem;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}
.scanForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
// input {
//     border: 1px solid #424242;
// }
.scanFormInput {
    margin-bottom: 0.5rem;
}
.snmpInput {
    margin-right: 0.5rem;
}
.srcSnmpInput {
    display: flex;
}
.info {
    color: coral;
}

@media all and (max-width: 300px) {
    .md-form.md-outline label {
      width: 100px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }