<p>snmp works!</p>
<div *ngIf='done'>MAC: {{this.receivedSnmp[0] == undefined ? 'нет мака' : this.receivedSnmp[0]}}</div>
<div *ngIf='done'>Порт в: {{this.receivedSnmp[1].toString().slice(0, -6)}} мб</div>
<div *ngIf='done'>{{this.receivedSnmp[2] == '1' ? ' admin Up': ' admin down'}}</div>
<div *ngIf='done'>{{this.receivedSnmp[3] == '1' ? ' link Up': ' link down'}}</div>
<div>
    <input type="text" name='sw' [(ngModel)]='snmp.sw' />
    <input type="text" name='port' [(ngModel)]='snmp.port' />
</div>
<div>
    <button (click)='submit(snmp)'>найти</button>
</div>

<!-- .toString().slice(0, -6) -->