<nav class="sidenav">
    <a mdbRipple class="navbarBrand" href="#">
        <img
          src="https://raw.githubusercontent.com/shaxqq/buletin-board-react/master/client/src/logo.jpg"
          height="45"
          alt=""
          loading="lazy"
        />
      </a>
      <ul class="sidenavMenu">
        <!-- <li class="sidenavItem ">
          <a mdbRipple class="sidenavLink " routerLink="/snmp">Basic check(snmp)</a>
        </li> -->
        <li class="sidenavItem">
          <a mdbRipple class="sidenavLink" routerLink="/scan">MAC scan</a>
        </li>
        <li class="sidenavItem">
          <a mdbRipple class="sidenavLink" routerLink="/info">Additional information</a>
        </li>
        <li class="sidenavItem">
          <a mdbRipple class="sidenavLink" routerLink="/check">Basic check Raisecom</a>
        </li>
        <li class="sidenavItem">
          <a mdbRipple class="sidenavLink" routerLink="/checkraisecomg">Basic check RaisecomG</a>
        </li>
        <li class="sidenavItem">
          <a mdbRipple class="sidenavLink" routerLink="/checkzte">Basic check Zte</a>
        </li>
        <li class="sidenavItem">
          <a mdbRipple class="sidenavLink" routerLink="/checklinksys">Basic check Linksys</a>
        </li>
        <li class="sidenavItem">
          <a mdbRipple class="sidenavLink" routerLink="/checkdlink">Basic check Dlink</a>
        </li>
        <li class="sidenavItem">
          <a mdbRipple class="sidenavLink" routerLink="/checkbdcom">Basic check Bdcom</a>
        </li>
        <!-- <li class="sidenavItem">
          <a mdbRipple class="sidenavLink" routerLink="/checkbdcomsolution">Basic check V-Solution</a>
        </li>   -->
        <li class="sidenavItem">
          <a mdbRipple class="sidenavLink" routerLink="/checkbdcomg">Basic check Bdcom G</a>
        </li> 
        <li class="sidenavItem">
          <a mdbRipple class="sidenavLink" routerLink="/checkfoxgate">Basic check FoxGate</a>
        </li> 
        <li class="sidenavItem">
          <a mdbRipple class="sidenavLink" routerLink="/dhcplog">Dhcp Log</a>
        </li>
      </ul>
  </nav>

<div class="content">
<router-outlet></router-outlet>
</div>

